<?xml version="1.0"?>

<launch>
   <node name="pf_localization" pkg="pf_localization" type="pf_localization_node" >
     <param name="map_name" value="$(find pf_localization)/map/rfs.map"/>
     <param name="init_pos_x" value="-2.87"/>
     <param name="init_pos_y" value="-5.87"/>
     <!-- rad -->
     <param name="init_pos_angle" value="1.403"/>
   </node>
</launch>
