<?xml version="1.0"?>
<launch>
<!--ackerman controller gererator -->
<node name="ackermann"
      pkg="ackermann_controller"
      type="ackermann" output="screen"/>
	<arg name="model" default="ackermann.urdf.xacro"/>
	<arg name="gui" default="true" />
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <rosparam command="load" file="$(find ackermann_controller)/test/config/ackermann_controllers_houdar_std.yaml"/>
  <node name="ackermann_control_manager" pkg="controller_manager" type="spawner" output="screen" args="robot_joint_publisher ackermann_controller" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" />
</launch>
