<?xml version="1.0"?>

<model>
  <name>coveragespace</name>
  <version>1.0</version>
  <sdf version='1.4'>coveragespace-1_4.sdf</sdf>
  <sdf version='1.5'>coveragespace.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>chq@git.org</email>
  </author>

  <description>
    A wooden cabinet.
  </description>
</model>
