<launch>
<!-- Arguments -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="deg_to_rad" default="0.017453293" />
  <arg name="imu_topic" default="/imu_data" />
  <arg name="odom_frame" default="odom" />
  <arg name="base_frame" default="/base_footprint" />
  <arg name="raw_odom_topic" default = "odom" />
  <arg name="combine_odom_topic" default = "odom" />
<!-- Map Arguments -->
 <arg name="map_file" default="$(find imu_odom_combine)/maps/coverage_space2.map"/>
<!-- Map Server -->
 <node name="map_server" type="map_server" pkg="map_server" args="$(arg map_file)" />
<!-- fire up imu jy901-->
<node pkg="imu_publisher" type="imu_publisher" name="imu_jy901_node" output="screen" >
  <!--inbound -->
  <param name="imu_frame" value="/imu_link" />
  <param name="orient_covar" value="0.00000003046" />
  <param name="angle_v_covar" value="0.0000007615" />
  <param name="acc_covar" value="0.0001" />
  <!--outbound -->
  <param name="imu_topic" value="$(arg imu_topic)" />
</node>

<!-- fire up imu_combine-->
 <node pkg="imu_odom_combine" type="imu_odom_combine_node" name="imu_odom_combine" output="screen" >
  <!--inbound -->
  <param name="base_frame" value="$(arg base_frame)" />
  <param name="imu_topic" value="$(arg imu_topic)" />
  <!-- raw odom data -->
  <param name="odom_topic" value="$(arg raw_odom_topic)" />
  <param name="publish_tf" value="true" />
  <!--outbound -->
  <!-- sensor fused output odom data -->
  <param name="odom_comb_frame" value="$(arg odom_frame)" />
  <param name="odom_combine_topic" value="$(arg combine_odom_topic)" />
</node>
 <!--fire up virtual amcl -->
<node pkg="fake_localization" type="fake_localization" name="fake_loc" output="screen" >
  <param name="global_frame_id" value="map" />
  <param name="odom_frame_id" value="$(arg odom_frame)" />
  <param name="base_frame_id" value="$(arg base_frame)" />
  <remap from="base_pose_ground_truth" to="$(arg combine_odom_topic)" />
</node>
<!--fireup ekf -->
<!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" clear_params="true" output="screen">
  <rosparam command="load" file="$(find imu_odom_combine)/launch/ekf.yaml" />
</node-->


</launch>
