<?xml version="1.0"?>
<launch>
<!-- launch R2D2 base  -->
<include file="$(find path_tracking_planner)/launch/R2D2_base.launch" />
<!-- fire up loc  -->
<!--include file="$(find robotnik_pp_planner)/launch/R2D2_fake_amcl.launch" /-->

 <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_tracking_planner)/rviz/move.rviz" /-->
</launch>

