<?xml version="1.0"?>
<launch>

  <!-- start purepursuit node -->
  <node pkg="path_tracking_planner" type="path_marker.py" name="path_marker" output="screen">
    <param name="frame_id" value="/map" type="string"/>
    <param name="planner" value="path_tracking_planner" type="string"/>
  </node>

</launch>

